In [4]:
import pandas as pd
import json
import requests
import matplotlib.pyplot as plt 
import seaborn

In [9]:
url = "https://api.covid19api.com/summary"
data = requests.get(url).json()

for countries in data["Countries"]:
    print(countries["Country"] + " " + str(countries["TotalConfirmed"]))

Afghanistan 34740
Albania 3667
Algeria 20216
Andorra 861
Angola 541
Antigua and Barbuda 74
Argentina 106910
Armenia 32490
Australia 10487
Austria 19021
Azerbaijan 25113
Bahamas 116
Bahrain 34078
Bangladesh 190057
Barbados 103
Belarus 65269
Belgium 62781
Belize 39
Benin 1378
Bhutan 84
Bolivia 50867
Bosnia and Herzegovina 6981
Botswana 399
Brazil 1926824
Brunei Darussalam 141
Bulgaria 7645
Burkina Faso 1037
Burundi 269
Cambodia 165
Cameroon 15173
Canada 0
Cape Verde 1722
Central African Republic 4356
Chad 884
Chile 319493
China 85226
Colombia 154277
Comoros 321
Congo (Brazzaville) 2028
Congo (Kinshasa) 8135
Costa Rica 8482
Croatia 3827
Cuba 2432
Cyprus 1023
Czech Republic 13341
Côte d'Ivoire 13037
Denmark 13262
Djibouti 4979
Dominica 18
Dominican Republic 46305
Ecuador 69570
Egypt 83930
El Salvador 10303
Equatorial Guinea 3071
Eritrea 232
Estonia 2015
Ethiopia 7969
Fiji 26
Finland 7301
France 209640
Gabon 6026
Gambia 64
Georgia 999
Germany 200456
Ghana 24988
Greece 3883
Grenada 23
Guatemala 30872
Guinea 6200
Guinea-Bissau 1842
Guyana 308
Haiti 6727
Holy See (Vatican City State) 12
Honduras 28579
Hungary 4258
Iceland 1905
India 936181
Indonesia 78572
Iran, Islamic Republic of 262173
Iraq 81757
Ireland 25670
Israel 42360
Italy 243344
Jamaica 762
Japan 22437
Jordan 1198
Kazakhstan 63514
Kenya 10791
Korea (South) 13551
Kuwait 56174
Kyrgyzstan 11444
Lao PDR 19
Latvia 1174
Lebanon 2451
Lesotho 256
Liberia 1024
Libya 1563
Liechtenstein 84
Lithuania 1875
Luxembourg 5056
Macedonia, Republic of 8332
Madagascar 5343
Malawi 2497
Malaysia 8729
Maldives 2801
Mali 2423
Malta 674
Mauritania 5518
Mauritius 342
Mexico 311486
Moldova 19708
Monaco 109
Mongolia 261
Montenegro 1287
Morocco 16097
Mozambique 1268
Myanmar 337
Namibia 864
Nepal 17061
Netherlands 51362
New Zealand 1547
Nicaragua 3147
Niger 1099
Nigeria 33616
Norway 9001
Oman 59568
Pakistan 255769
Palestinian Territory 6764
Panama 48096
Papua New Guinea 11
Paraguay 3074
Peru 333867
Philippines 57545
Poland 38457
Portugal 47051
Qatar 104533
Republic of Kosovo 5118
Romania 33585
Russian Federation 738787
Rwanda 1416
Saint Kitts and Nevis 17
Saint Lucia 22
Saint Vincent and Grenadines 35
San Marino 699
Sao Tome and Principe 732
Saudi Arabia 237803
Senegal 8243
Serbia 18983
Seychelles 100
Sierra Leone 1651
Singapore 46630
Slovakia 1908
Slovenia 1859
Somalia 3076
South Africa 298292
South Sudan 2148
Spain 256619
Sri Lanka 2665
Sudan 10417
Suriname 801
Swaziland 1434
Sweden 76001
Switzerland 33016
Syrian Arab Republic (Syria) 439
Taiwan, Republic of China 451
Tajikistan 6643
Tanzania, United Republic of 509
Thailand 3227
Timor-Leste 24
Togo 731
Trinidad and Tobago 133
Tunisia 1306
Turkey 214993
Uganda 1040
Ukraine 55931
United Arab Emirates 55573
United Kingdom 292931
United States of America 3431574
Uruguay 997
Uzbekistan 14085
Venezuela (Bolivarian Republic) 10010
Viet Nam 373
Western Sahara 10
Yemen 1516
Zambia 1895
Zimbabwe 1064

In [13]:
pd.DataFrame(data["Countries"])

,Country,CountryCode,Slug,NewConfirmed,TotalConfirmed,NewDeaths,TotalDeaths,NewRecovered,TotalRecovered,Date,Premium
0,Afghanistan,AF,afghanistan,285,34740,36,1048,200,21454,2020-07-15T13:59:58Z,{}
1,Albania,AL,albania,96,3667,2,97,48,2062,2020-07-15T13:59:58Z,{}
2,Algeria,DZ,algeria,527,20216,10,1028,276,14295,2020-07-15T13:59:58Z,{}
3,Andorra,AD,andorra,3,861,0,52,0,803,2020-07-15T13:59:58Z,{}
4,Angola,AO,angola,16,541,0,26,0,118,2020-07-15T13:59:58Z,{}
...,...,...,...,...,...,...,...,...,...,...,...
181,Viet Nam,VN,vietnam,0,373,0,0,0,352,2020-07-15T13:59:58Z,{}
182,Western Sahara,EH,western-sahara,0,10,0,1,0,8,2020-07-15T13:59:58Z,{}
183,Yemen,YE,yemen,18,1516,5,429,10,685,2020-07-15T13:59:58Z,{}
184,Zambia,ZM,zambia,0,1895,0,42,0,1412,2020-07-15T13:59:58Z,{}
185,Zimbabwe,ZW,zimbabwe,30,1064,1,20,0,343,2020-07-15T13:59:58Z,{}